<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>Doctors</h2>
    <ul>
        <li th:each="doctor : ${doctors}">
            <span th:text="'Dr. ' + ${doctor.firstname} + ' ' + ${doctor.lastname}"></span>
            <form th:action="@{/appointment/create}" method="get">
                <input type="hidden" th:name="doctorId" th:value="${doctor.id}"/>
                <button type="submit">Create Appointment</button>
            </form>
        </li>
    </ul>
</body>
</html>